# yarn 2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.npmrc

.DS_Store
.idea
.vscode
*.log

**/node_modules
build
dist
coverage
packages/*/lib
packages/*/tmp
